body {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

div {
  background-size: cover;
  width: 320px;
  height: 480px;
  background-repeat: no-repeat;
  position: relative;
}

.win {
  font-size: 35px;
  position: absolute;
  top: 41%;
  right: 50%;
  transform: translate(50%);
  width: 240px;
  height: 55px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
}
